<tr>
  <td>
    <%= link_to post_path(post) do %>
      <% if post.image.present? %>
        <%= image_tag(post.image.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    <% end %>
  </td>
  <td><%= link_to(post.title, post_path(post)) %></td>
  <td><%= render_post_content(post) %></td>
  <td>
    <% if current_user && current_user == current_user %>
      <%= link_to("Edit", edit_post_path(post), class: "btn btn-sm btn-info")%>
      <%= link_to("Delete", post_path(post),    class: "btn btn-sm btn-danger",
                  method: :delete, data: { confirm: "Are you sure?" } )%>
    <% end %>
  </td>

</tr>
